@font-face {
  font-family: 'IRANYekan';
  src: url('/fonts/IRANYekanMobileRegular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'IRANYekan';
  src: url('/fonts/IRANYekanMobileMedium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'IRANYekan';
  src: url('/fonts/IRANYekanMobileBold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
